/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.tab-container {
  padding: 1%;
  margin: 1%;

  ::ng-deep mat-form-field {
    .mat-mdc-form-field-subscript-wrapper {
      height: 0;
      min-height: 0;
    }

    .mat-mdc-text-field-wrapper {
      margin-bottom: 0;
    }

    .mat-mdc-form-field-infix {
      padding-top: 8px;
      padding-bottom: 8px;
      min-height: 48px;
    }

    input {
      height: 48px;
    }
  }

  button.mat-mdc-raised-button {
    height: 48px;
    line-height: 48px;
    padding: 0 16px;
    min-height: 48px;
  }

  .mat-raised-button.mat-success {
    color: #fff;
    background-color: #008000ab;
  }

  .view-details {
    cursor: pointer;
  }

  .tasks-header {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
  }

  .tasks-search-field {
    width: 280px;
    margin: 0;
  }

  .tasks-action-btn {
    margin: 0;
  }
}

.alert {
  background-color: #e8f4fd;
  padding: 6px 16px;
  font-size: 0.875rem;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-weight: 400;
  line-height: 1.43;
  border-radius: 4px;
  letter-spacing: normal;
  margin: 10px;

  .message {
    padding: 8px 0;
    font-size: 18px;
  }

  .alert-check {
    color: #359ff4;
    margin-right: 2px;
    font-size: 1.4rem;
  }
}
