/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.tab-container {
  padding: 1%;
  margin: 1%;

  ::ng-deep mat-form-field {
    width: 280px;
    min-width: 280px;
    max-width: 280px;

    .mat-mdc-form-field-subscript-wrapper {
      height: 0;
      min-height: 0;
    }

    .mat-mdc-text-field-wrapper {
      margin-bottom: 0;
      width: 100%;
    }

    .mat-mdc-form-field-flex {
      width: 100%;
    }

    .mat-mdc-form-field-infix {
      padding-top: 8px;
      padding-bottom: 8px;
      min-height: 48px;
    }

    input {
      height: 48px;
      width: 100%;
    }
  }

  ::ng-deep .mat-mdc-select {
    width: 100%;
  }

  ::ng-deep .mat-mdc-select-trigger {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
  }

  button.mat-mdc-raised-button {
    height: 48px;
    line-height: 48px;
    padding: 0 16px;
    min-height: 48px;
  }

  button.mat-mdc-icon-button {
    width: 48px;
    height: 48px;
    padding: 0;
    background: #232323 !important;
    color: #fff !important;
    border-radius: 4px;
    box-shadow:
      0 2px 2px 0 rgb(0 0 0 / 14%),
      0 1px 5px 0 rgb(0 0 0 / 12%),
      0 3px 1px -2px rgb(0 0 0 / 20%);
  }

  .mat-mdc-raised-button.mat-success,
  .mat-mdc-raised-button.mat-reject {
    color: #fff;
    background-color: #424242;
  }

  .tasks-action-btn {
    margin: 0;
  }

  button.mat-mdc-raised-button.action-button {
    box-shadow:
      0 2px 2px 0 rgb(0 0 0 / 14%),
      0 1px 5px 0 rgb(0 0 0 / 12%),
      0 3px 1px -2px rgb(0 0 0 / 20%);
    border-radius: 4px;
    font-weight: 500;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    letter-spacing: 0.5px;
    transition:
      background 0.3s,
      color 0.3s;
  }

  /* ---------- SEARCH & LAYOUT ---------- */
  .search-row {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
  }

  .search-field {
    width: 280px;
    min-width: 280px;
    max-width: 280px;
    margin: 0;
    flex: 0 0 280px;
  }

  .advanced-search-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 16px;
    align-items: flex-start;
  }

  #search-button {
    height: 2.5rem;
    margin-top: 1rem;
  }

  .icon-button {
    margin: 0;
  }

  .action-button {
    margin: 0;
  }

  .view-details {
    cursor: pointer;
  }

  table {
    tr.select-row:hover {
      cursor: pointer;
    }
  }
}

.alert {
  background-color: #e8f4fd;
  padding: 6px 16px;
  font-size: 0.875rem;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-weight: 400;
  line-height: 1.43;
  border-radius: 4px;
  letter-spacing: normal;
  margin: 10px;

  .message {
    padding: 8px 0;
    font-size: 18px;
  }

  .alert-check {
    color: #359ff4;
    margin-right: 2px;
    font-size: 1.4rem;
  }
}
