/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.card-heading {
  font-size: 20px;
  font-weight: 500;
  color: #333;
  margin-bottom: 16px;
}

mat-divider {
  margin-bottom: 16px;
}
